@font-face {
  font-family: 'VT323';
  src: URL('./assets/VT323-Regular.ttf') format('truetype');
}

html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}


.footer{
  position: absolute;
  color: rgba(255, 255, 255, 0.4);
  bottom: 5vh;
  right: 50%;
  transform: translate(50%, 0);
  font-family: Lato;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  padding-bottom: 10px;
}

.logo{
  /* opacity: 0.5; */
  filter: drop-shadow(1px 1px 4px black);
  text-shadow: 2px 2px #000000;
}

.insta{
  width: 20px;
}

.github{
  width: 20px;
}

.email{
    height: 26px;
    width: auto;
}

.logo:hover {
  opacity: 1;
}

.linkicon{
  padding: 0 2px 0 2px;
  filter: drop-shadow(1px 1px 3px black);
}

@media only screen and (max-width: 768px) {
  .title{
    font-size: 25px;
  }

  .logo{
    width: 40px;
    text-shadow: 2px 2px #000000;
  }

  .email{
    height: 50px;
    width: auto;
  }
}

.links{
  display: flex;
  align-items: center;
  flex-direction: initial;
  filter: drop-shadow(1px 1px 7px black);
}



.footer-ascii{
  font-family: 'VT323';
  color: rgb(0,255,0);
  font-size: 100px;
  text-shadow: 2px 2px #000000;
}