html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}


.footer{
  position: absolute;
  color: rgba(255, 255, 255, 0.4);
  bottom: 5vh;
  right: 50%;
  transform: translate(50%, 0);
  font-family: Lato;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  padding-bottom: 10px;
}

.logo{
  opacity: 0.5;
}

.insta .github{
  width: 20px;
}

.email{
    height: 26px;
    width: auto;
}

.logo:hover {
  opacity: 1;
}

.linkicon{
  padding: 0 2px 0 2px;
}

@media only screen and (max-width: 768px) {
  .title{
    font-size: 25px;
  }

  .logo{
    width: 40px;
  }

  .email{
    height: 50px;
    width: auto;
  }
}

.links{
  display: flex;
  align-items: center;
  flex-direction: initial;
}